<div class="bd-notice"></div>

<div class="panel panel-default">
    <div class="panel-heading"><b><i class="fa fa-hourglass"></i> CM data directories</b></div>
    <div class="panel-body">
        
<div class="alert alert-info">
  <strong>Info!</strong> Indicates a neutral informative change or action.
</div>
        
        <b>Upload your raw files to the directories below for each vendor.</b>
        
        <!-- table -->
        <table id="nw_cm_file_directories" class="table table-striped table-bordered dataTable" width="100%">
            <thead>
                <tr>
                  <th scope="col">Vendor</th>
                  <th scope="col">Directory</th>
                </tr>
            </thead>  
            
            <tbody>
                <tr>
                    <td>Ericsson</td>
                    <td>APP_DIR/mediation/data/cm/ericsson/in</td>
                </tr>
                <tr>
                    <td>Huawei</td>
                    <td>APP_DIR/mediation/data/cm/huawei/in</td>
                </tr>
            </tbody>
            
            <tfoot class="hidden">
                <tr>
                  <th scope="col">Vendor</th>
                  <th scope="col">Directory</th>
                </tr>
            </tfoot>  
            
        </table>
        <!-- /table -->
        
    </div>
</div>